:root{
    --slide-bg:linear-gradient(90deg, rgba(255,220,216,1) 0%, rgba(251,237,236,1) 100%);;
    --poppins-font:'Poppins', sans-serif;
    --grey:#ececee;
    --white:#ffffff;
    --orange:#F06F42;
    --headline:4rem;
    --title:2rem;
    --subtitle:1rem;
    --transition:0.3s ease;
    --max-width:1980px;

}

$orange:#F06F42;
$title:2rem;
$black:#232323;
$white:#ffff;
$slide-bg:linear-gradient(90deg, rgba(255,220,216,1) 0%, rgba(251,237,236,1) 100%);
$max-width:1980px;
$grey-light:#f9f6f3;